$flicker-mult: 2;
@keyframes flicker {
  0% {
    opacity: calc(0.27861 / $flicker-mult);
  }
  5% {
    opacity: calc(0.34769 / $flicker-mult);
  }
  10% {
    opacity: calc(0.23604 / $flicker-mult);
  }
  15% {
    opacity: calc(0.90626 / $flicker-mult);
  }
  20% {
    opacity: calc(0.18128 / $flicker-mult);
  }
  25% {
    opacity: calc(0.83891 / $flicker-mult);
  }
  30% {
    opacity: calc(0.65583 / $flicker-mult);
  }
  35% {
    opacity: calc(0.67807 / $flicker-mult);
  }
  40% {
    opacity: calc(0.26559 / $flicker-mult);
  }
  45% {
    opacity: calc(0.84693 / $flicker-mult);
  }
  50% {
    opacity: calc(0.96019 / $flicker-mult);
  }
  55% {
    opacity: calc(0.08594 / $flicker-mult);
  }
  60% {
    opacity: calc(0.20313 / $flicker-mult);
  }
  65% {
    opacity: calc(0.71988 / $flicker-mult);
  }
  70% {
    opacity: calc(0.53455 / $flicker-mult);
  }
  75% {
    opacity: calc(0.37288 / $flicker-mult);
  }
  80% {
    opacity: calc(0.71428 / $flicker-mult);
  }
  85% {
    opacity: calc(0.70419 / $flicker-mult);
  }
  90% {
    opacity: calc(0.7003 / $flicker-mult);
  }
  95% {
    opacity: calc(0.36108 / $flicker-mult);
  }
  100% {
    opacity: calc(0.24387 / $flicker-mult);
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  pointer-events: none;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 0.125em, 0.1875em 100%;
  pointer-events: none;
}
.crt {
  text-shadow: 0.13944em 0 0.0625em rgba(0, 30, 255, 0.5),
    -0.13944em 0 0.0625em rgba(255, 0, 80, 0.3), 0 0 0.1875em;
  overflow: hidden;
}

.crt-top::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt-top::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 0.125em, 0.1875em 100%;
  pointer-events: none;
}
.crt-top {
  text-shadow: 0.13944em 0 0.0625em rgba(0, 30, 255, 0.5),
    -0.13944em 0 0.0625em rgba(255, 0, 80, 0.3), 0 0 0.1875em;
  overflow: hidden;
}

.crt-object {
  box-shadow: 0.033944em 0 0.00625em rgba(0, 30, 255, 0.5),
    -0.033944em 0 0.00625em rgba(255, 0, 80, 0.3), 0 0 0.03875em;
}
